<!DOCTYPE html>
<html>
  <head>
  <%= favicon_link_tag asset_path('favicon.ico') %>
    <title>Wander</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
    <script type="text/javascript">
    window.wantedurl = "<%= image_url('carpastel.jpg') %>";
  </script>
  <script type="text/javascript">
    window.rossurl = "<%= image_url('coke.jpg') %>";
  </script>
  <body>
    <%= yield %>
  </body>
</html>
